{% extends 'admin/2cols.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0">Edit movie</h4>
                        <a href="{{ path('admin_movie_movie_list') }}" class="btn btn-sm btn-outline-dark">Back to list</a>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_label(form.title, null, {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(form.title, {
                            'attr': {'class': 'form-control mb-3'}
                        }) }}

                        {{ form_label(form.description, null, {
                            'label_attr': {'class': 'form-label'}
                        }) }}
                        {{ form_widget(form.description, {
                            'attr': {'class': 'form-control mb-3'}
                        }) }}

                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
